parameters:
    paths:
        - app

    # PHP version
    phpVersion: 80200

    # Level 0 - just syntax check only
    level: 0

    # Exclude vendor and test helpers
    excludePaths:
        - vendor
        - tests
        - database/migrations
        - storage
